<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main View</title>
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create Post</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/about">About</a></li>
      </ul>

    </nav>

    {{{body}}}
  </body>
</html>